
dash==0.43.0
dash-core-components==0.48.0
dash-html-components==0.16.0
dash-renderer==0.24.0
dash-table==3.7.0
Flask==1.0.2
Flask-Compress==1.4.0
numpy==1.16.2
oauthlib==3.0.1
pandas==0.24.2
plotly==4.0.0